@import url('reset.css');

/* Boilerplate */

*, *:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #ddd;
}

#viewport {
    width: 99.1vw;
    height: 100vh;
    margin: 0 auto;
}

/* Header */

.header {
    width: 100%;
    height: 23%;
    background-color: #888;
}

/* Main article */

.articles {
    width: 100%;
    display: flex;
    height: 95%;
}

.article-item {
    flex: 1;
    background-color: #444;
}

.article-item:nth-of-type(2) {
    background-color: #333;
}

/* Links to signup forms etc */

.membership {
    background-color: #aaa;
    height: 60%;
}

/* More articles */

.more-articles {
    width: 100%;
    height: 285%;
    margin: 0 auto;
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(4, 1fr);
}

.ma-item {
    border: 1px solid black;
    background-color: #060;
    color: #fff;
    font-size: 2em;
}

.double-width {
    border-radius: 11px;
    background-color: #333;
    grid-column: span 2;
}

#ma-11 {
    grid-column: span 4;
    height: 40%;
}

/* .ma-item {
    width: 24.8%;
    height: 58%;
    float: left;
    margin: 2px;
    background-color: #555;
}

.double-width {
    width: 49.8%;
    border-radius: 11px;
    background-color: #333;
}

.last-row {
    padding-bottom: 10%;
}

#ma-4 {
    background-color: #777;
}

#ma-11 {
    width: 100%;
    height: 15%;
    background-color: #ddd;
} */

/* Ad after main articles */
