@import url('reset.css');

/* Boilerplate */

*, *:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: #999;
}

#viewport {
    width: 99vw;
    height: 100vh;
    margin: 0 auto;
}

/* Header */

.main-nav {
    width: 100%;
    height: 23%;
    background-color: #888;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    height: 80%;
    width: 12.5%;
    color: #eee;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-item > i {
    font-size: 2em;
    margin-bottom: 1em;
}

.nav-item > h1 {
    font-family: 'Exo', sans-serif;
    font-size: 2.1em;    
    margin-bottom: 5%;
}

.nav-item > h4 {
    font-family: 'Cantarell', sans-serif;
    font-size: 1.4em;
    justify-self: flex-end;
}

/* Main article */

.articles {
    width: 100%;
    display: flex;
    height: 95%;
}

.article-item {
    flex: 1;
    background-color: #444;
    font-family: 'Nunito', sans-serif;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.article-item:nth-of-type(2) {
    background-color: #333;
}

.article-item > h2 {
    font-weight: 700;
    font-size: 3.5em;
    padding: 0 10%;
}

.article-item > p {
    font-weight: 700;
    margin: 10% 0;
    font-size: 2em;
}
/* Links to signup forms etc */

.membership {
    background-color: #aaa;
    height: 60%;
    color: #222;
}

.membership > p {
    width: 60%;
    line-height: 1.5;
    font-size: 1.44em;
    padding: 10% 10% 0 10%;
}

.membership > ul {
    margin-top: 2%;
    list-style-type: square;
    font-size: 1.3em;
    padding: 0 10% 0 13%;
}

.membership > ul > li {
    margin-bottom: 5px;
}

/* More articles */

.more-articles {
    width: 100%;
    height: 240%;
    margin: 5px auto;
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(4, 1fr);
    padding-bottom: 10%;
}

.ma-item {
    background-color: #555;
    color: #fff;
    font-size: 2em;
    padding: 30% 6%;
}

.ma-item > h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.1em;
}

.author {
    font-size: 0.7em;
    margin: 10% 0;
}

.underlined {
    text-decoration: underline;
}

.article-preview {
    font-size: 0.7em;
    font-weight: 400;
}

.double-width {
    border-radius: 11px;
    background-color: #333;
    grid-column: span 2;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-dragon {
    font-size: 4em;
}

.double-width h1 {
    padding: 50px 0;
    font-size: 1.5em;
    text-decoration: underline;
}

.dw-text {
    text-align: center;
    font-size: 0.8em;
    line-height: 2;
    padding: 20px 0;
}

.signup {
    height: 10%;
    width: 20%;
    border-radius: 15px;
    border: none;
    box-shadow: none;
    font-size: 0.6em;
    font-weight: bold;
    margin-top: 10%;
}

#ma-4 {
    background-color: #888;
}

/* Book ad after articles */

.book-ad {
    width: 100%;
    height: 100%;
    background-color: #888;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #222;
}

.book-ad > h6 {
    font-size: 1.15em;
    font-weight: bold;
    letter-spacing: 1.5;
}

.book-ad > h1 {
    font-size: 3.75em;
    font-weight: 900;
    text-decoration: underline;
}

.book-ad > h2 {
    font-size: 3.25em;
    font-weight: 900;
}

.book-ad > p {
    font-size: 1.3em;
    width: 55%;
    text-align: center;
}

.book-ad > button {
    width: 15%;
    height: 7.5%;
    border-radius: 20px;
    font-size: 1.25em;
    box-shadow: none;
    border: none;
}

.book-ad i {
    font-size: 28em;
}

/* More articles */

.even-more-articles {
    width: 100%;
    height: 120%;
    background-color: #666;
    font-family: 'Nunito', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px;
    padding: 1% 1%;
    color: #fff;
}

.even-more-articles > div {
    max-height: 96%;
    padding: 2% 2%;
}

.full-width {
    grid-column: span 2;
    border: 2px solid black;
}

.full-width > h2 {
    margin-bottom: 30px;
    font-size: 1.8em;
}

.full-width > p {
    font-size: 1.5em;
}

.half-width {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.half-width > h2 {
    font-size: 1.6em;
}

.half-width > h1 {
    font-size: 2em;
}

.half-width > p {
    font-size: 1.3em;
}

/* Smaller ad */

.other-book-ad {
    height: 30%;
    background-color: #ccc;
    font-family: 'Nunito', sans-serif;
    color: #111;
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.other-book-ad > h2 {
    font-size: 1.4em;
    text-transform: uppercase;
}

.other-book-ad > h1 {
    font-size: 2.2em;
    text-decoration: underline;
    text-transform: capitalize;
}

.other-book-ad > p {
    font-size: 1.2em;
    width: 60%;
}

.other-book-ad > button {
    font-size: 1.4em;
    width: 15%;
    height: 28%;
    border-radius: 15px;
    border: none;
}

/* Curated Posts */

.curated {
    height: 120%;
    background-color: #555;
    display: flex;
    flex-direction: column;
}

/* .curated div {
    border: 1px solid blue;
} */

.guides {
    flex: 4;
    display: flex;
}

.guide-item {
    flex: 1;
    color: #eee;
    font-family: 'Nunito', sans-serif;
}

.guide-item > h1 {
    font-size: 2.8em;
    margin: 6% 5%;
}

.guide-item > ul {
    margin: 6% 10%;
    list-style-type: square;
    line-height: 2;
    font-size: 1.5em;r
}

.newsletter {
    flex: 4;
}

.news {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #999;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news > h1 {
    margin: 0 auto;
    font-size: 3.5em;
    font-weight: 700;
    text-decoration: underline;
    margin: 3% 0; 
}

.news > p {
    font-size: 1.5em;
    line-height: 2.5;
}

.news > i {
    flex: 6;
    font-size: 10em;
    justify-self: flex-end;
}

.bot {
    flex: 1;
}

/* Footer */
.footer {
    height: 70%;
    background-color: #333;
}